<main *ngIf="selectedCustomer">
    <div class="pt-5 pb-3 text-center">
      <img src="/assets/images/profile_image2.jpg" alt="twbs" width="100" height="100" class="rounded-circle flex-shrink-0">
      <h2>{{selectedCustomer.first_name}} {{selectedCustomer.last_name}} ({{selectedCustomer.customer_number}})</h2>
      <p class="lead">Join Date: {{selectedCustomer.join_date}}</p>
    </div>
    <div class="row m-4">
      <div class="col-6">
        <i class="fa fa-regular fa-envelope mx-2"></i>
        <a target="_blank" href="mailto:{{selectedCustomer.email}}">{{selectedCustomer.email || 'none'}}</a>
      </div>
      <div class="col-6">
        <i class="fa fa-regular fa-regular fa-gift mx-2"></i>
        <span>{{selectedCustomer.date_birth}} ({{selectedCustomer.date_birth | age}} years old)</span>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-6">
        <i class="fa fa-regular fa-phone mx-2"></i>
        <a href="tel:{{selectedCustomer.mobile_phone_number}}">{{selectedCustomer.mobile_phone_number || 'none'}}</a>
      </div>
      <div class="col-6">
        <i class="fa fa-regular fa-key mx-2"></i>
        <span>{{selectedCustomer.ssn || 'none'}}</span>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-6">
        <i class="fa fa-regular fa-map mx-2"></i>
        <a target="_blank" href="http://maps.google.com/?q={{selectedCustomer.primary_address.address_line_1}} {{selectedCustomer.primary_address.city}}, {{selectedCustomer.primary_address.state}} {{selectedCustomer.primary_address.zip_code}}">
        {{selectedCustomer.primary_address.address_line_1}} {{selectedCustomer.primary_address.city}}, {{selectedCustomer.primary_address.state}} {{selectedCustomer.primary_address.zip_code}}
        </a>
        <span></span>
        <span></span>
      </div>
      <div class="col-6">
        <i class="fa fa-flag-checkered fa-key mx-2"></i>
        <span>{{selectedCustomer.join_date}} ({{selectedCustomer.join_date | dateAgo}})</span>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-6">
        <i class="fa fa-regular fa-id-badge mx-2"></i>
        <span>{{selectedCustomer.customer_number}}</span>
      </div>
    </div>
  </main>