<a *ngIf="customer"  routerLink="/customer/{{customer.customer_number}}" 
  class="list-group-item list-group-item-action d-flex gap-3 py-2" aria-current="true">
  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0">{{customer.first_name}} {{customer.last_name}}</h6>
      <p class="mb-0 opacity-75">DOB: {{customer.date_birth}}, Age: {{customer.date_birth}}</p>
      <p class="mb-0 opacity-75">C#: {{customer.customer_number}}, SSN: {{customer.ssn}}</p>
    </div>
    <small class="opacity-50 text-nowrap">{{customer.join_date}}</small>
  </div>                    
</a>
