<header class="d-flex flex-row align-items-center justify-content-between p-1 px-3 mb-3
    bg-white border-bottom fixed-top shadow-sm">
    <img class="d-none d-lg-block" src="assets/images/logo.svg" alt="logo"  routerLink="/" style="max-height: 30px;">
    <img class="d-lg-none" src="assets/images/logo_sailboat.svg" alt="logo"  routerLink="/" style="max-height: 50px;">
    <nav class="my-2">
        <a class="p-2" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="p-2" routerLink="/business" routerLinkActive="active">Businesses</a>
    </nav>
    <div class="d-flex align-items-center">
       <a class="position-relative">
            <i class="fa fa-regular fa-envelope fa-2x me-2 text-dark"></i>
            <div class="email-no">5</div>
        </a>
        <span class="d-none d-lg-block position-relative text-dark">Welcome, User</span>
    </div>
</header>