.email-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #002F6F;
    font-weight: 600;

    &.active{
        color: #0077cc;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 4px;
        text-underline-offset: 8px;
        text-size-adjust: 100%;
    }
}

.logo {
    cursor: pointer;
}