<form *ngIf="selectedCustomer" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="pt-5 pb-3 text-center">
      <img src="/assets/images/profile_image2.jpg" alt="twbs" width="100" height="100" class="rounded-circle flex-shrink-0">
      <h2>New Customer ({{selectedCustomer.customer_number}})</h2>
      <p class="lead">Join Date: {{selectedCustomer.join_date | date}}</p>
    </div>
    <div class="d-flex justify-content-center mt-2 mx-4">
      <div class="row">
        <h4>Personal Information</h4>
        <div class="col-6">
          <app-text-input formControlName="first_name"  [label]="'First Name'"></app-text-input>
        </div>
        <div class="col-6">
          <app-text-input formControlName="last_name" [label]="'Last Name'"></app-text-input>
        </div>
        <div class="col-12">
          <app-text-input formControlName="ssn" [label]="'Social Security Number (ex. 999-99-9999)'"></app-text-input>
        </div>
        <div class="col-12">
          <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
        </div>
        <div class="col-6">
          <app-text-input formControlName="mobile_phone_number" [label]="'Mobile Phone Number (ex. 000-000-0000)'"></app-text-input>
        </div>
        <div class="col-6">
          <app-text-input formControlName="date_birth" [label]="'Date of Birth'"></app-text-input>
        </div>
        <hr>
        <h4>Mailing Address</h4>
        <div class="col-12">
          <app-text-input formControlName="address_line_1" [label]="'Street'"></app-text-input>
        </div>
        <div class="col-6">
          <app-text-input formControlName="city" [label]="'City'"></app-text-input>
        </div>
        <div class="col-3">
          <app-text-input formControlName="state" [label]="'State'"></app-text-input>
        </div>
        <div class="col-3">
          <app-text-input formControlName="zip_code" [label]="'Zip Code'"></app-text-input>
        </div>
        <div class="col-12">
          <ul class="text-danger list-unstyled mt-3" *ngIf="errors && customerForm.invalid">
            <li *ngFor="let error of errors">
              {{error}}
            </li>
          </ul>
        </div> 
        <div class="col-6">
          <button (click)="cancel()" class="w-100 btn btn-secondary btn-lg">Cancel</button>
        </div>
        <div class="col-6">
          <button type="submit" class="w-100 btn btn-info btn-lg" >Add Customer</button>
        </div>
      </div>
    </div>
  </form>