<carousel>
    <slide>
      <img src="assets/images/carousel/headquarters.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/carousel/lounge.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/carousel/wedding.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>


  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Latest Employee News</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Here, you'll find up-to-the-minute updates on team achievements, new hire introductions, and important company announcements. Stay connected with your colleagues and the pulse of our organization as we celebrate milestones, share insights, and drive forward together. Don't miss out on any updates—check back regularly to stay informed and engaged with our vibrant community.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Latest News</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Archived News</button>
        </div>
      </div>
    </div>
  </div>

