
<div class="row align-items-start">
    <div class="col-4">
        <div class="list-group">
            <div class="d-flex my-2 mx-2">
                <input [(ngModel)]="search" type="text" placeholder="Search" class="form-control me-2">
                <button class="btn btn-outline-secondary mx-1">Search</button>
                <button class="btn btn-info mx-1">New</button>
            </div>
            <div *ngFor="let customer of customers">
                <a *ngIf="customer"  routerLink="/customer/{{customer.customer_number}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/assets/images/profile_image.jpg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">{{customer.first_name}} {{customer.last_name}}</h6>
                        <p class="mb-0 opacity-75"><span class="text-body-secondary">C#:</span> {{customer.customer_number}}, <span class="text-body-secondary">SSN:</span> {{customer.ssn}}</p>
                        <p class="mb-0 opacity-75"><span class="text-body-secondary">DOB:</span> {{customer.date_birth}}, <span class="text-body-secondary">Age: </span>{{customer.date_birth | age}}</p>
                      </div>
                      <small class="opacity-50 text-nowrap">{{customer.join_date | dateAgo}}</small>
                    </div>                    
                  </a>
            </div>
        </div>
    </div>
    <div class="col-8">
      <app-customer-profile [selectedCustomer]="selectedCustomer"></app-customer-profile>
    </div>
  </div>
