
.bg-gradient-purple {
    --tw-gradient-from: #07c var(--tw-gradient-from-position);
    // --tw-gradient-to: rgba(0,119,204,0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #8e51a8 var(--tw-gradient-to-position);
    --tw-text-opacity: 1;
}